.preview_container__div {
  width: 50vw;
  background: rgb(122, 133, 153);
  position: fixed;
  height: 100vh;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
}

.preview_block__div {
  background: white;
  width: 25vw;
  height: 37vw;
  border-radius: 10px;
  box-shadow: -1px 2px 4px rgb(50 50 93 / 20%);
}