/* Global input and placeholder setting */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { /* WebKit browsers */
  color:transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:transparent;
}

/* Global input and placeholder setting END */

.block {
  margin-top: 200px;
  width: 50%;
  border: 1px soild black;
  height: 400px;
}

.container {
  display: flex;
  flex-direction: column;
}


/* User Info */
.userinfo_container {
  margin-bottom: 50px;
}
.userinfo_title {
  width: 90%;
  padding-bottom: 10px;
  border-bottom: 2px solid #bababa;
  font-family: 'Nanum Gothic';
  font-weight: 510;
  color: #3b3d40;
  font-size: 16px;
}

.userinfo_formContainer {
  margin-top: 30px;
}

.userinfo_form > div {
  padding: 0 0 20px 0;
  font-size: 16px;
}

.userinfo_form_name, .userinfo_form_address  {
  padding-right: 23px;
}

.userinfo_form_phoneNumber, .userinfo_form_email {
  padding-right: 10px;
}


.userinfo_form > div > input {
  height: 35px;
  width: 400px;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f1f0f0;
}

/* User Info END*/

/* Profile */
.profile_title {
  width: 90%;
  padding-bottom: 10px;
  border-bottom: 2px solid #bababa;
  font-family: 'Nanum Gothic';
  font-weight: 510;
  color: #3b3d40;
  font-size: 16px;
}

.profile_formContainer {
  margin-top: 10px;
}

.profile_textarea {
  outline: none;
  border: none;
  width: 90%;
  height: 200px;
  resize: none;
}

/* Profile END*/


/* Skills */

.skills_title__block{
  margin-bottom: 15px;
}

.skills_title__p {
  font-size: 20px;
  font-weight: 600;
    color: var(--mainText);
    padding-bottom: 10px;
}

.skills_sub_title__p {
  color: var(--nomalText);
  font-size: 12px;
}
.skills_list__block{
  padding: 30px;
  width: 100%;
  border: 1px solid rgb(218 218 218);
  border-radius: 3px;
}

.skills_list__block button  {
  text-align: left;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  color: #176fd8;
  opacity: 0.6; 
  border-bottom: 1px solid #f1f1f1;
}

.skills_button button:hover {
  opacity: 1;
}

.skills_listContainer {
  border: 2px solid rgb(220 220 220);
    display: flex;
    border-radius: 6px;
    padding: 20px 20px;

}

.skills_listContainer ul {
 width: 100%;

}


.skills_list_item__li {
  display: flex;
}

.skills_list_item__li input {
  outline: none;
  border: none;
}

.form {
  display: flex;
}
.form::after{
  content: "|";
  color: #bdbdbd;
  padding-right: 20px;
}

.inputName {
  width: 100%;
  font-size: 15px;
  font-weight: 800;
  color: #3b3d40;
}


.inputDesc {
  /* width: 100%;
  color: var(--nomalText);
  font-size: 16px; */
}

.skills_list_button {
  font-size: 16px;
  padding: 20px 0;
  background-color: transparent;
  outline: none;
  border: none;
  color: #176fd8;
  opacity: 0.6; 
}
.skills_list_button:hover {
  opacity: 1;
}
/* Skills END */