/* Global input and placeholder setting */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { /* WebKit browsers */
  color:transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:transparent;
}

/* Global input and placeholder setting END */
@keyframes fadein {
  0% {
    /* position: absolute;
    top: 25%; */
    opacity: 0;
  }

  30% {
    opacity: 1;
  }


  70% {
  opacity: 1;
}
  100% {
  opacity: 0;
}
}


@media screen and (min-width: 1025px) {
  
.block {
  width: 50vw;
  padding: 65px 5vw 0px 5vw;
  overflow: scroll;
    height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.save_modal_block__div {
  background: #34cf23;
  padding: 18px 26px 18px 10px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%);
  color: white;
  font-size: 15px;
  position: fixed;
  top: 100px;
  right: 52%;
  animation-name : fadein;
  animation-duration: 3s;
  animation-direction:alternate;
  transition: all 300ms ease-in;
}
.save_modal_block__div button {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
}

/* User Info */
.userinfo_container {
  margin-bottom: 50px;
  padding-top: 65px;
}

.userinfo_resume_title_block__div {
margin-bottom: 40px;
}
.userinfo_resume_title_block__div input {
  border: none;
  border-bottom: 1px solid #d2d2d2;
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  outline: none;
  cursor: text;
  padding-bottom: 13px;
  text-align: center;
}

.userinfo_title {
  width: 90%;
  font-family: 'Nanum Gothic';
  font-weight: 510;
  color: #3b3d40;
  font-size: 20px;
  padding-bottom: 10px;
}

.userinfo_formContainer {
  margin-top: 30px;
}
.imageUpload_block__div{
  display: flex;
  align-items: center;
}

.userinfo_form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.userinfo_form > div {
  font-size: 16px;
}

.userinfo_form label {
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
  color: rgb(152, 161, 179);
}


.userinfo_form > div > input {
  height: 35px;
  width: 300px;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color:#F2F5FA;
}

.userinfo_form_item {
padding: 20px 20px 20px 0;
}

.imageUpload_block__div{
  display: flex;
  align-items: center;
}

.sub_Upload_button__button{
  color: var(--mainGreen);
    font-weight: 700;
    font-size: 15px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.imageUpload_button__button{
  padding: 15px;
  position: relative;
  outline: none;
    border: none;
  /* margin: 30px 0px 15px 0px; */
  background: #f1f5fa;
  border-radius: 5px;
  width: 60px;
  height: 70px;
  margin-right: 20px;
  cursor: pointer;
}

.input_upload__input {
  position: absolute;
  opacity: 0;
  width: 250%;
  height: 100%;
  cursor: pointer;
    left: 0;
    top: 0;
}


.imageUpload_button__button > svg{
  color: #b1bece;
  font-size: 30px;
  transition: all 200ms ease-in-out;
}

.imageUpload_button__button > svg:hover{
  color: var(--mainGreen);
  transition: all 200ms ease-in-out;
}


/* User Info END*/

/* Profile */

.profile_container {
  margin-bottom: 50px;
}
.profile_title {
  width: 90%;
  padding-bottom: 10px;
  font-family: 'Nanum Gothic';
  font-weight: 510;
  color: #3b3d40;
  font-size: 20px;
}

.profile_title_desc {
  font-size: 12px;
  color: rgb(152, 161, 179);
}

.profile_formContainer {
  margin-top: 10px;
}

.profile_textarea {
  background-color:#F2F5FA;
  outline: none;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 200px;
  resize: none;
  padding: 20px 20px 20px 20px;
  font-size: 15px;
}

/* Profile END*/


/* Skills */
.skills__article {
  margin-bottom: 50px;
}

.skills__article > div{
  margin-bottom: 20px;
}

.skills_title__block {
  margin-bottom: 15px;
}

.skills_title__p {
  font-size: 20px;
  font-weight: 600;
    color: var(--mainText);
    padding-bottom: 10px;
}

.skills_sub_title__p {
  color: var(--nomalText);
  font-size: 12px;
}
.skills_list__block{
  width: 100%;
  border-radius: 3px;
}

.skills_list__block__add__button  {
  text-align: left;
  width: 100%;
  padding : 12px 0px 12px 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  color: var(--mainGreen);
  margin-bottom: 18px;
}

.skills_list__block__add__button:hover {
  background: #19a76c11;
}


.skills_listContainer {
  box-shadow: 0px 1px 4px rgba(50,50,93,0.3);
    display: flex;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 15px;

}

.skills_listContainer ul {
 width: 100%;

}


.skills_list_item__li {
  display: flex;
  flex-direction: column;
  position: relative;
}

.skills_list_item__li input {
  width: 100%;
  outline: none;
  border: none;
}

.skills_list_item_delete__button {
  font-size: 15px;
  right: 0px;
  position: absolute;
  top: 10px;
  outline: none;
  border: none;
  color: var(--mainGreen);
  background: none;
  cursor: pointer;
}

.form {
  display: flex;
}


.inputName {
  width: 100%;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 800;
  color: #3b3d40;
}


.skills_list_button {
  font-size: 16px;
  padding: 20px 0;
  background-color: transparent;
  outline: none;
  border: none;
  font-weight: 600;
  color: var(--mainGreen);
}
.skills_list_button:hover {
  opacity: 1;
}
/* Skills END */
}


/* Mobile */
@media screen and (max-width: 1024px) {

  .save_modal_block__div {
    transform: translateX(50%);
    border-radius: 2px;
    background: #34cf23;
    padding: 18px 26px 18px 10px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%);
    color: white;
    font-size: 15px;
    position: fixed;
    top: 72px;
    right: 50%;
    animation-duration: 3s;
    animation-name : fadein;
    animation-direction: alternate;
    transition: all 300ms ease-in;
  }
  .save_modal_block__div button {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
  }

  .imageUpload_block__div{
    display: flex;
    align-items: center;
  }

  .imageUpload_block__div{
    display: flex;
    align-items: center;
  }
  
  .sub_Upload_button__button{
    color: var(--mainGreen);
      font-weight: 700;
      font-size: 15px;
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
  }
  .imageUpload_button__button{
    padding: 15px;
    position: relative;
    outline: none;
      border: none;
    /* margin: 30px 0px 15px 0px; */
    background: #f1f5fa;
    border-radius: 5px;
    width: 60px;
    height: 70px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .input_upload__input {
    position: absolute;
    opacity: 0;
    width: 250%;
    height: 100%;
    cursor: pointer;
      left: 0;
      top: 0;
  }
  
  
  .imageUpload_button__button > svg{
    color: #b1bece;
    font-size: 30px;
    transition: all 200ms ease-in-out;
  }
  
  .imageUpload_button__button > svg:hover{
    color: var(--mainGreen);
    transition: all 200ms ease-in-out;
  }

  .userinfo_resume_title_block__div {
    margin-bottom: 40px;
    }
    .userinfo_resume_title_block__div input {
      border: none;
      border-bottom: 1px solid #d2d2d2;
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      outline: none;
      cursor: text;
      padding-bottom: 13px;
      text-align: center;
    }

  .block {
    width: 100%;
    padding: 70px 40px 0px 40px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  
  
  /* User Info */
  .userinfo_container {
    margin-bottom: 50px;
    padding-top: 65px;
    position: relative;
  }
  
  .userinfo_title {
    width: 90%;
    font-family: 'Nanum Gothic';
    font-weight: 510;
    color: #3b3d40;
    font-size: 20px;
    padding-bottom: 10px;
  }
  
  .userinfo_formContainer {
    margin-top: 30px;
  }

  .imageUpload_block__div{
    display: flex;
    align-items: center;
  }

  
  .userinfo_form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .userinfo_form > div {
    font-size: 16px;
  }
  
  .userinfo_form label {
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
    color: rgb(152, 161, 179);
  }
  
  
  .userinfo_form > div > input {
    height: 35px;
    width: 75vw;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color:#F2F5FA;
  }
  
  .userinfo_form_item {
  padding: 20px 20px 20px 0;
  }
  
  /* User Info END*/
  
  /* Profile */
  
  .profile_container {
    margin-bottom: 50px;
  }
  .profile_title {
    width: 90%;
    padding-bottom: 10px;
    font-family: 'Nanum Gothic';
    font-weight: 510;
    color: #3b3d40;
    font-size: 20px;
  }
  
  .profile_title_desc {
    font-size: 12px;
    color: var(--nomalText)

  }
  
  .profile_formContainer {
    margin-top: 10px;
  }
  
  .profile_textarea {
    background-color:#F2F5FA;
    outline: none;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 200px;
    resize: none;
    padding: 20px 20px 20px 20px;
    font-size: 15px;
  }
  
  /* Profile END*/
  
  
  /* Skills */

  .skills__article {
    margin-bottom: 50px;
  }
  .skills__article > div{
    margin-bottom: 20px;
  }
  
  .skills_title__block{
    margin-bottom: 15px;
  }
  
  
  .skills_title__p {
    font-size: 20px;
    font-weight: 600;
      color: var(--mainText);
      padding-bottom: 10px;
  }
  
  .skills_sub_title__p {
    color: var(--nomalText);
    font-size: 12px;
  }
  .skills_list__block{
    width: 100%;
    border-radius: 3px;
  }
  
  .skills_list__block__add__button  {
    text-align: left;
    width: 100%;
    padding : 12px 0px 12px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    color: var(--mainGreen);
    margin-bottom: 18px;
  }
  
  .skills_list__block__add__button:hover {
    background: #19a76c11;
  }
  .skills_listContainer {
    box-shadow: 0px 1px 4px rgba(50,50,93,0.3);
      display: flex;
      border-radius: 6px;
      padding: 10px 20px;
      margin-bottom: 15px;
  
  }
  
  .skills_listContainer ul {
   width: 100%;
  
  }
  
  
  .skills_list_item__li {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .skills_list_item__li input {
    width: 100%;
    outline: none;
    border: none;
  }
  
  .form {
    display: flex;
  }
  .inputName {
    padding-bottom: 5px;
    width: 100%;
    font-size: 15px;
    font-weight: 800;
    color: #3b3d40;
  }
  
  
  .inputDesc {
    /* width: 100%;
    color: var(--nomalText);
    font-size: 16px; */
  }
  
  .skills_list_button {
    font-size: 16px;
    padding: 20px 0;
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: 600;
    color: var(--mainGreen);
  }
  .skills_list_button:hover {
    opacity: 1;
  }

  .skills_list_item_delete__button {
    font-size: 15px;
    right: 0px;
    position: absolute;
    top: 10px;
    outline: none;
    border: none;
    color: var(--mainGreen);
    background: none;
    cursor: pointer;
  }
  /* Skills END */
  
}