.block {
  width: 100%;
  padding-top: 200px;
}

.wrapper {
  padding: 0 1rem 0 1rem;
  width: 100%;
  margin: 0 auto;
}

.wrapper ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 -10px 0 -10px;
  width: calc(100% + 20px);
}

.card__block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  width: calc(50% - 15px);
  margin: 0 0 10px 10px;
  border: 1px solid #DBDBDB;
  cursor: pointer;
}


@media screen and (min-width: 768px) and (max-width: 1024px){
  .wrapper ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 -20px 0 -20px;
    width: calc(100% + 40px);
  }

  .card__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: calc(25% - 25px);
    margin: 0 0 20px 20px;
    border: 1px solid #DBDBDB;
    cursor: pointer;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
  .wrapper {
    width: 1024px;
  }
  .card__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    width: calc(25% - 25px);
    margin: 0 0 20px 20px;
    border: 1px solid #DBDBDB;
    cursor: pointer;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
  .card__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    width: calc(25% - 25px);
    margin: 0 0 20px 20px;
    border: 1px solid #DBDBDB;
    cursor: pointer;
  }
}