@media screen and (min-width: 769px) {
  .landing__review__header{
    text-align: center;
  }
  
  .landing__review__header p{
    color: var(--subText);
    padding-bottom: 75px;
    line-height: 20px;
  }

  .landing__review__header h3{
    font-size: 40px;
    font-weight: 600;
    color: var(--mainText);
    padding-top: 85px;
    line-height: 10px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .landing__review__header{
    text-align: center;
  }
  .landing__review__header h3{
    line-height: 35px;
    font-size: 33px;
    font-weight: 800;
    color: var(--mainText);
    padding-top: 50px;
    line-height: 45px;
    padding-bottom: 15px;
  }
  .landing__review__header p{
    color: var(--subText);
    padding-bottom: 40px;
    line-height: 20px;
  }
}



