.resume__card__block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.resume__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  width: 100%;
}

.resume__info__block {
  width: 100%;
  padding: 2rem;
}

.resume__info__block > p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume__info__block > span {
  font-size: 1.125rem;
  color: #999
}

.resume__card__blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
}

.resume__remove__block {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem 2rem;
  border-top: 1px solid #DBDBDB;
}

.resume__remove__button {
  font-size: 1.25rem;
}