.name_container__div{
  padding: 0px 35px;
}

.name_container__div > strong {
  display: block;
  font-size: 40px;
  font-weight: 600;
  color: var(--mainGreen);
  margin: 15px 0px;
}

.name_background_shape_top__div{
  width: 9px;
  height: 38px;
  background: var(--mainGreen);
}

.name_background_shape_bottom__div{
  width: 9px;
  height: 32px;
  background: var(--mainGreen);
}