.block__container {
  z-index: 2;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.1);
  background: white;
  position: absolute;
  top: 50px;
    border-radius: 5px;
    transform: translateX(-40px);
}

.nav__list{
  padding: 0;
  list-style: none;
  text-align: left;
}

.nav__list a{
  display: flex;
    align-items: center;
  font-size: 15px;
  color: var(--mainText);
  padding: 10px 80px 10px 10px;
  margin: 0 0;
  cursor: pointer;
  text-decoration: none;
}

.nav__list li {
  color: var(--mainText);
  font-family: 'Nanum Gothic';
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

.nav__list svg{
  position: initial;
  padding: 0;
  list-style: none;
  text-align: left;
  margin-right: 5px;
  font-size: 19px;
}

.nav__list li:hover {
background: rgb(238, 238, 238);
}