.block__container {
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.1);
  background: white;
  position: absolute;
  top: 60px;
  border-radius: 5px;
  transform: translateX(-10px);
}

.nav__list{
  padding: 0;
  list-style: none;
  text-align: left;
}

.nav__list li {
  color: var(--mainText);
  font-family: 'Nanum Gothic';
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

.nav__list button  {
  cursor: pointer;
  width: 120px;
  text-align: left;
  padding: 10px 30px 10px 15px;
  border: none;
  background: none;
  font-family: 'Nanum Gothic';
  font-size: 13px;
}

.nav__list li:hover {
background: rgb(238, 238, 238);
}