.block_container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 0px 35px;
}

.left_side_anchor{
  cursor: pointer;
}
.left_side_logo {
  padding: 15px 0px 0px 0px;
  width: 45px;
}

.middle_nav_bar{
  list-style: none;
  display: flex;
}


.middle__nav__list__strong{
  font-weight: 700;
}
.middle__nav__list__strong::after{
content: "|";
margin: 0 5px 0 5px;
color:var(--subText)
}

.middle__nav__list__anchor{
  color :var(--mainText);
  margin: 0px 20px;
  padding: 10px 0px;
  cursor:pointer;
  text-decoration: none;
}

.right_login_button{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: white;
  border-radius: 50px;
  border: none;
  padding: 9px 22px;
  background:var(--mainGreen);
  font-weight: 800;
  cursor: pointer;
}