@keyframes fadein {
    from {
      position: absolute;
      top: 25%;
      opacity: 0;
    }
  
    to {
        position: absolute;
        top: 31%;
        transform: translateY(-31%, 0 );
      opacity: 1;
    }
  }

.full__screen {
    position: fixed;
    width: 100%;
    background: rgba(255,255,255, 0.7);
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 30;
}

.white__box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.3); 
    width: 360px;
    padding: 2rem;
    border-radius: 10px;
    opacity: 1;
    animation: fadein .5s;
}

.close__button {
    position: absolute;
    right: 1.125rem;
    top: 1.125rem;
    color: #adb5bd;
    font-size: 1.25rem;
    cursor: pointer;
}

.close__button:hover {
    color: #495057;
}

.logo__block {
    width: 6rem;
    margin-bottom: 50px;
}

.logo__block > img {
    width: 6rem;
}

.button__block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button__block > li > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 100%;
    border: 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-family: 'Nanum Gothic';
    font-weight: 550;
    letter-spacing: 0.3px;
}

.button__block > li > button > .login__logo {
    margin-right: 10px;
    font-size: 1.125rem;
}

.button__block > li > .facebook__button {
    background: #1877f2;
    color: #fff;
}

.button__block > li > .google__button {
    background: #fff;
    color: var(--nomalText);
    border: 2px solid rgb(222, 226,230);
}

.button__block > li > .github__button {
    background: #343a40;
    color: #fff;
    border: 2px solid rgba(222, 226,230);
}